<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :matricula %><br>
    <%= f.text_field :matricula, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'Password' %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirmar Password' %><br>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <% if @user_logado.admin %>
  <div class="form-group">
    <%= f.check_box :servidor %>
    <%= f.label :Servidor %>
  </div>
  <div class="form-group">
    <%= f.check_box :admin %>
    <%= f.label :Administrador %>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.submit "Confirmar", class: "btn btn-default btnlogin" %>
  </div>
<% end %>
