<p id="notice"><%= notice %></p>

<h1>Usuários Ativos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matricula</th>
      <th>Servidor</th>
      <th>Administrador</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nome %></td>
        <td><%= user.matricula %></td>
        <td><%= user.servidor ? 'Sim' : 'Não' %></td>
        <td><%= user.admin ? 'Sim' : 'Não' %></td>
        <% if user == @user_logado or @user_logado.admin %>
            <td><%= link_to 'Editar', edit_user_path(user), class: "btn btn-sm btn-default" %></td>
            <td><%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-default" %></td>
        <% else %>
            <td></td>
            <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Novo Usuário', new_user_path %>
<br><br>
<%= link_to 'Menu Principal', loans_path %>
