<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Usuário %><br>
    <%= f.collection_select :user_id, User.order(:nome),:id,:nome_matricula, {include_blank: true}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :Sala %><br>
    <%= f.collection_select :room_id, Room.order(:title),:id,:title, {include_blank: true}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.submit "Registrar", class: "btn btn-default btnlogin" %>
  </div>
<% end %>
