
<h1>Empréstimos Ativos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Sala</th>
      <th>Registro de Entrada</th>
      <th></th>
      <th colspan="2" id="btn_novo">
        <% if @user_logado and (@user_logado.admin or @user_logado.servidor) %>
        <%= link_to 'Novo Empréstimo', new_loan_path, class: "btn btn-success" %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @loans.ativos.each do |loan| %>
      <tr>
        <td><%= loan.user.nome %></td>
        <td><%= loan.room.title %></td>
        <td><%= loan.input_register.strftime("%H:%M:%S %d/%m/%Y") %></td>
        <% if @user_logado and (@user_logado.admin or @user_logado.servidor) %>
            <td><%= if loan.output_register == nil
                      button_to "Registrar Devolução",
                      {:controller => :loans, :action => 'devolver', :id => loan.id },
                      :method => :post,
                      class: "btn btn-danger"
                    end %></td>
            <td id="coluna_novo"><%= link_to 'Editar', edit_loan_path(loan), class: "btn btn-sm btn-default" %></td>
            <td id="coluna_novo"><%= link_to 'Apagar', loan, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %></td>
      <% else %>
            <td></td>
            <td></td>
            <td></td>
      <% end %>
    <% end %>
    </tr>
  </tbody>
</table>
  <br><br>

 <h2>Histórico de Empréstimos</h2>
<%= will_paginate @loans_inativos %>
 <table class="table table-striped">
   <thead>
     <tr>
       <th>Usuário</th>
       <th>Sala</th>
       <th>Registro de Entrada</th>
       <th>Registro de Saída</th>
     </tr>
   </thead>

   <tbody>
     <% @loans_inativos.each do |loan| %>
       <tr>
         <td><%= loan.user.nome %></td>
         <td><%= loan.room.title %></td>
         <td><%= loan.input_register.strftime("%H:%M:%S %d/%m/%Y") %></td>
         <td><%= loan.output_register.strftime("%H:%M:%S %d/%m/%Y") %></td>
       </tr>
     <% end %>
   </tbody>
 </table>
<%= will_paginate @loans_inativos %>
