<p id="notice"><%= notice %></p>

<h1>Listando Salas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Localização</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.order(title: :asc).each do |room| %>
      <tr>
        <td><%= room.title %></td>
        <td><%= room.location %></td>
        <td><%= link_to 'Editar', edit_room_path(room), class: "btn btn-sm btn-default" %></td>
        <td><%= link_to 'Apagar', room, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-sm btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Sala', new_room_path %>
<br><br>
<%= link_to 'Menu Principal', loans_path %>
