<%= form_for(@authorization) do |f| %>
  <% if @authorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authorization.errors.count, "error") %> prohibited this authorization from being saved:</h2>

      <ul>
      <% @authorization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :authorizer_id %><br>
    <%= f.collection_select :authorizer_id, User.servidores.order(:nome),:id,:nome_matricula, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.alunos.order(:nome),:id,:nome_matricula, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.collection_select :room_id, Room.order(:title),:id,:title, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :date_register %><br>
    <%= f.date_select :date_register %>
  </div>
  <div class="field">
    <%= f.label :date_expiration %><br>
    <%= f.date_select :date_expiration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
