<%= form_for(@authorization) do |f| %>
  <% if @authorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authorization.errors.count, "error") %> prohibited this authorization from being saved:</h2>

      <ul>
      <% @authorization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user_logado.admin %>
    <div class="form-group">
      <%= f.label :Autorizador %><br>
      <%= f.collection_select :authorizer_id, User.servidores.order(:nome),:id,:nome_matricula, {include_blank: true}, {class: "form-control"} %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :Autorizador %><br>
      <%= f.collection_select :authorizer_id,
          User.servidores.order(:nome),:id,:nome_matricula,
          {selected: @user_logado.id},
          {class: "form-control", :disabled => "disabled"} %>
      <%= f.hidden_field :authorizer_id, :value => @user_logado.id %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :Aluno %><br>
    <%= f.collection_select :user_id, User.alunos.order(:nome),:id,:nome_matricula, {include_blank: true}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :Sala %><br>
    <%= f.collection_select :room_id, Room.order(:title),:id,:title, {include_blank: true}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label 'Vencimento' %><br>
    <%= f.date_select :date_expiration,
        :order => [:day, :month, :year],
        :start_year => Date.today.year,
        :end_year => Date.today.year + 1,
        :html=>{:class => "form-control"}%>
  </div>
  <div class="form-group">
    <%= f.submit 'Confirmar', class: "btn btn-default btnlogin" %>
  </div>
<% end %>
