<p id="notice"><%= notice %></p>

<h1>Listando Autorizações</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Professor</th>
      <th>Aluno</th>
      <th>Sala</th>
      <th>Data do Registro</th>
      <th>Vencimento</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorizations.each do |authorization| %>
      <tr>
        <td><%= authorization.authorizer.nome %></td>
        <td><%= authorization.user.nome %></td>
        <td><%= authorization.room.title %></td>
        <td><%= authorization.date_register.strftime("%d/%m/%Y") %></td>
        <td><%= authorization.date_expiration.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Editar', edit_authorization_path(authorization), class: "btn btn-sm btn-default" %></td>
        <td><%= link_to 'Apagar', authorization, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-sm btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Autorização', new_authorization_path %>
<br><br>
<%= link_to 'Menu Principal', loans_path %>
