<div class="btn-controle">
  <%= link_to 'Nova Permissão', new_authorization_path, class: "btn btn-sm btn-success" %>
  <%= link_to 'Menu Principal', loans_path, class: "btn btn-sm btn-default" %>
</div>

<h1>Listando Permissões Ativas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Professor</th>
      <th>Aluno</th>
      <th>Sala</th>
      <th>Data do Registro</th>
      <th>Vencimento</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorizations.ativos.each do |authorization| %>
      <tr>
        <td><%= authorization.authorizer.nome %></td>
        <td><%= authorization.user.nome %></td>
        <td><%= authorization.room.title %></td>
        <td><%= authorization.date_register.strftime("%d/%m/%Y") %></td>
        <td><%= authorization.date_expiration.strftime("%d/%m/%Y") %></td>
        <% if authorization.authorizer == @user_logado or @user_logado.admin %>
        <td><%= link_to 'Editar', edit_authorization_path(authorization), class: "btn btn-sm btn-default" %></td>
        <td><%= link_to 'Apagar', authorization, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-sm btn-default" %></td>
        <% else %>
          <td><td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Listando Permissões expiradas</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Professor</th>
      <th>Aluno</th>
      <th>Sala</th>
      <th>Data do Registro</th>
      <th>Vencimento</th>
    </tr>
  </thead>

  <tbody>
    <% @authorizations.expirados.last(35).each do |authorization| %>
      <tr>
        <td><%= authorization.authorizer.nome %></td>
        <td><%= authorization.user.nome %></td>
        <td><%= authorization.room.title %></td>
        <td><%= authorization.date_register.strftime("%d/%m/%Y") %></td>
        <td><%= authorization.date_expiration.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
