<p id="notice"><%= notice %></p>

<h1>Listing Authorizations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Professor</th>
      <th>User</th>
      <th>Room</th>
      <th>Date register</th>
      <th>Date expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorizations.each do |authorization| %>
      <tr>
        <td><%= authorization.authorizer.nome %></td>
        <td><%= authorization.user.nome %></td>
        <td><%= authorization.room.title %></td>
        <td><%= authorization.date_register.strftime("%d/%m/%Y") %></td>
        <td><%= authorization.date_expiration.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Show', authorization %></td>
        <td><%= link_to 'Edit', edit_authorization_path(authorization) %></td>
        <td><%= link_to 'Destroy', authorization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authorization', new_authorization_path %>
<br>
<%= link_to 'Principal', loans_path %>
