<p id="notice"><%= notice %></p>

<p>
  <strong>Professor:</strong>
  <%= @authorization.authorizer.nome %>
</p>

<p>
  <strong>User:</strong>
  <%= @authorization.user.nome %>
</p>

<p>
  <strong>Room:</strong>
  <%= @authorization.room.title %>
</p>

<p>
  <strong>Date register:</strong>
  <%= @authorization.date_register %>
</p>

<p>
  <strong>Date expiration:</strong>
  <%= @authorization.date_expiration %>
</p>

<%= link_to 'Edit', edit_authorization_path(@authorization) %> |
<%= link_to 'Back', authorizations_path %>
